$font-family-main: "Montserrat", "Arial", sans-serif;

$deep-dark: #141517;
$medium-dark: #2c2e3f;
$graphite-dark: #48494d;
$accent-main: #fe7865;
$accent-light: #f17d4b;
$light: #fbf8f8;
$white: #ffffff;
$black: #000000;
$additional-color: #d7d9df;

$tablet-width-max: 1023px;
$mobile-width-max: 767px;
