.places {
  position: relative;
  padding-top: 199px;
  padding-bottom: 240px;

  @media (max-width: $tablet-width-max) {
    padding-top: 80px;
    padding-bottom: 112px;
    text-align: center;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 108px;
    padding-bottom: 111px;
  }
}

.places__title {
  position: relative;
  width: 358px;
  margin-bottom: 64px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -34px;
    width: 228px;
    height: 4px;
    background-color: $accent-main;

    @media (max-width: $tablet-width-max) {
      display: none;
    }
  }

  @media (max-width: $tablet-width-max) {
    margin-bottom: 20px;
    width: auto;
  }
}

.places__lead {
  width: 328px;
  margin: 0;
  margin-bottom: 56px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  opacity: 0.7;

  @media (max-width: $tablet-width-max) {
    margin: 0 auto;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 20px;
    width: auto;
  }
}

.places__cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -100px;

  @media (max-width: $tablet-width-max) {
    padding-left: 8.38%;
    padding-right: 7.69%;
    margin-bottom: -19px;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-bottom: -35px;
  }
}

.places__card {
  position: relative;
  width: 29.93%;
  margin-bottom: 100px;

  &--montenegro {
    margin-left: 14.96%;

    @media (max-width: $tablet-width-max) {
      margin-left: 0;
    }
  }

  &--croatia {
    margin-right: 14.96%;

    @media (max-width: $tablet-width-max) {
      margin: 0 auto;
      margin-top: 10px;
    }

    @media (max-width: $mobile-width-max) {
      margin: 0;
    }
  }

  @media (max-width: $tablet-width-max) {
    width: 47.13%;
    margin-bottom: 19px;
  }

  @media (max-width: $mobile-width-max) {
    width: auto;
    margin-bottom: 35px;
  }
}

.places__card-link {
  display: block;
  color: $medium-dark;

  &::after {
    content: "";
    display: none;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($deep-dark, 0.6);
  }

  &:hover,
  &:focus {
    &::after {
      display: block;
    }

    + .places__card-button {
      display: inline-block;
    }
  }
}

.places__card-title {
  position: absolute;
  z-index: 100;
  width: 215px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  padding: 17px 0;
  background-color: $white;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.415px;
  font-weight: 500;
  text-align: center;
}

.places__card-img {
  display: block;
  width: 100%;

  @media (max-width: $mobile-width-max) {
    width: 288px;
    height: 425px;
  }
}

.places__card-button {
  display: none;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  margin: 0 auto;
  padding: 30px 0;
  width: 76%;
  border: 1px solid rgba($white, 0.7);
  background-color: transparent;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

.places__tabs {
  margin-top: 97px;

  @media (max-width: $mobile-width-max) {
    margin-top: 40px;
  }
}
