.prices {
  padding-bottom: 138px;

  @media (max-width: $tablet-width-max) {
    padding-bottom: 125px;
  }

  @media (max-width: $tablet-width-max) {
    padding-bottom: 50px;
  }
}

.prices__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    text-align: center;
  }
}

.prices__package-title {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  letter-spacing: -1.27px;
  color: rgba($deep-dark, 0.7);

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
    font-size: 24px;
  }
}

.prices__package-price {
  font-size: 25px;
  font-weight: 700;
}

.prices__package-lead {
  margin-top: 36px;
  margin-bottom: 28px;
  width: 289px;

  @media (max-width: $tablet-width-max) {
    width: auto;
  }
}

.prices__list {
  display: flex;
  order: -1;
  width: 65.81%;
  box-sizing: border-box;

  @media (max-width: $tablet-width-max) {
    order: 1;
    width: 100%;
    margin-top: 30px;
    justify-content: center;
  }

  @media (max-width: $mobile-width-max) {
    flex-direction: column;
    align-items: center;
  }
}

.prices__package {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 48%;
  box-sizing: border-box;
  padding: 40px 30px 30px;
  border: 1px solid rgba($medium-dark, 0.3);
  border-radius: 6px;

  &:not(:last-child) {
    margin-right: 30px;

    @media (max-width: $tablet-width-max) {
      margin-right: 6.86%;
    }

    @media (max-width: $mobile-width-max) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &::before {
    content: "";
    display: none;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border: 3px solid $accent-main;
    border-radius: 6px;
  }

  &:hover {
    border-color: transparent;

    &::before {
      display: block;

      @media (max-width: $tablet-width-max) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .prices__package-title {
      color: $accent-main;
    }

    .prices__package-options {
      border-top-color: $accent-main;
    }

    .prices__package-icon {
      fill: $deep-dark;
    }
  }

  @media (max-width: $tablet-width-max) {
    width: 288px;
    padding: 30px 20px 80px;
  }
}

.prices__package-options {
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid rgba($medium-dark, 0.3);
}

.prices__package-option {
  position: relative;
  padding-left: 30px;
  line-height: 32px;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media (max-width: $tablet-width-max) {
    text-align: left;
  }
}

.prices__package-icon {
  position: absolute;
  top: 12px;
  left: 0;
}

.prices__package-button {
  margin-top: auto;
  box-sizing: border-box;

  @media (max-width: $tablet-width-max) {
    position: absolute;
    z-index: 1000;
    left: -1px;
    right: -1px;
    bottom: -3px;
    width: auto;
  }

  @media (max-width: $mobile-width-max) {
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
}

.prices__info {
  width: 24.9%;
  margin-top: 13px;

  @media (max-width: $tablet-width-max) {
    width: auto;
    margin: 0;
  }
}

.prices__title {
  position: relative;
  padding-bottom: 21px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 175px;
    height: 3px;
    background-color: $accent-main;

    @media (max-width: $tablet-width-max) {
      display: none;
    }
  }

  @media (max-width: $tablet-width-max) {
    padding: 0;
  }
}

.prices__description {
  margin-top: 30px;
  margin-bottom: 60px;
  opacity: 0.7;
  line-height: 27px;

  @media (max-width: $tablet-width-max) {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.prices__call {
  margin: 0;
  padding-left: 46px;
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width-max) {
    padding: 0;
  }
}

.prices__slogan {
  font-size: 22px;
  line-height: 34px;
  font-weight: 500;
  color: $deep-dark;
}

.prices__tel {
  position: relative;
  margin-top: 13px;
  font-size: 20px;
  line-height: 32px;
  color: $black;

  &:hover,
  &:focus {
    color: $accent-main;
  }

  @media (max-width: $tablet-width-max) {
    margin-top: 10px;
    color: $accent-main;
  }
}

.prices__tel-icon {
  position: absolute;
  left: -46px;

  @media (max-width: $tablet-width-max) {
    display: none;
  }
}
